<ion-header>
  <ion-toolbar>
    <ion-title>{{ category?.id ? 'Edit Category' : 'Create Category' }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [disabled]="!canSave" (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Name *</ion-label>
      <ion-input [(ngModel)]="form.name" placeholder="Category name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Icon</ion-label>
      <div class="icon-picker-row">
        <ion-button fill="outline" size="small" (click)="openIconPicker()">
          <ion-icon slot="start" [name]="form.icon || 'pricetag-outline'"></ion-icon>
          Choose Icon
        </ion-button>
        <span class="icon-name">{{ form.icon || 'pricetag-outline' }}</span>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Color</ion-label>
      <div class="color-row">
        <ion-input
          class="color-input"
          [ngModel]="form.color"
          (ngModelChange)="onColorChange($event)"
          placeholder="#2196F3"
        ></ion-input>
        <div
          class="color-preview"
          [style.background]="form.color || '#ffffff'"
        ></div>
        <ion-button fill="outline" size="small" (click)="regenerateColor()">Generate</ion-button>
      </div>
    </ion-item>

    <ion-item>
      <ion-label>IsActive</ion-label>
      <ion-toggle [(ngModel)]="form.isActive" slot="end"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
