<ion-tabs>
  <ion-fab class="tabs-add-fab" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="openTransactionModal()" aria-label="Add transaction">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions" href="/tabs/transactions">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
